@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {    
    background-color: #f6f7f9;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
}

.topbar a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.topbar a.logo {
    color: #0056a4;
    font-weight: 700;
    font-size: 1.4rem;
}

.topbar .menu {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.col-1 {
    min-height: 550px;
    width: 100%;
    display: flex;
    padding: 30px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 3.5rem;
    max-width: 500px;
    line-height: 3.5rem;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

h4 {
    font-size: 1.05rem;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

span {
    max-width: 700px;
    font-size: 1.05rem;
    text-align: center;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

span a,
ul li a,
ul li button {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
}

span a:hover {
    text-decoration: underline;
}

ul li a:hover,
ul li button:hover {
    color: #000;
}

.content-btn {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btn {
    padding: 6px 15px;
    border: none;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.btn.btn-1 {
    background-color: #0056a4;
    color: #fff;
}

.btn.btn-2 {
    background-color: #fff;
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.card {
    width: 100%;
    max-width: 400px;
    border: none;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img.icon {
    padding: 10px;
    background-color: #0056a4;
    border: none;
    width: 50px;
    border-radius: 10px;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card ul li {
    list-style: none;
}

.card span {
    font-size: .9rem;
}

.recent-posts {
    background-color: #fff;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    justify-content: start;
}

.recent-posts .col-3 {
    gap: 20px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 400px));
    gap: 20px;
    margin-top: 20px;
    justify-content: start;
}

.card-post {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
}

.card-post:hover {
    transform: scale(1.05);
}

.card-post .banner {
    border: none;
    border-radius: calc(10px - 6px);
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.card-post h4 {
    color: #000;
}

.card-post .short-description-post {
    margin: 10px;
}

.footer {
    padding: 30px 0px;
}

.footer .column {
    width: 100%;
    min-height: auto;
    display: flex;
    padding: 30px;
    line-height: 1.4rem;
}

.footer-2 .column {
    align-items: start;
}

.footer-2 .column .card {
    padding: 10px 20px;
    max-width: 500px;
    min-height: 120px;
    justify-content: left;
    align-items: start;
}

.footer-2 .column .card h4 {
    font-weight: 600;
    margin-bottom: 10px;  
}

.footer-2 .column .card span {
    text-align: left;
}

.footer-3 .column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-3 .column span {
    font-size: .9rem;
}

.footer-2,
.footer-3 {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

@media(max-width:830px){
    .col-3 {
        flex-direction: column;
    }

    .posts {
        grid-template-columns: repeat(2, minmax(260px, 1fr));
        justify-content: center;
    }
}

@media(max-width:550px){
    .posts {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}