.main {
    min-height: 400px;
    background-color: #fff;
    padding: 20px 30px;
}

.post-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}


.post-row.one-column {
  flex-direction: column;
}

.post-row.two-columns > .post-item {
  flex: 1 1 calc(50% - 15px);
}

.post-row.three-columns > .post-item {
  flex: 1 1 calc(33.333% - 15px);
}

.post-row.three-columns .post-item.double {
  flex: 2;
}

.post-row.three-columns .post-item {
  flex: 1;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-item a {
    width: auto;
  color: #0056a4;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.post-item a:hover {
  text-decoration: underline;
}

.post-item h1,
.post-item h2,
.post-item h3,
.post-item h4 {
  margin: 5px 0;
  line-height: 1.3;
}

.post-item h1 {
  color: #000;
  font-weight: bold;
  font-size: 1.6rem;
}

.post-item h2,
.post-item h3 {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
}

.post-item h4 {
  color: #000;
  font-weight: normal;
  font-size: 1.1rem;
}

.post-item p {
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}

.post-item img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 10px 0;
  border-radius: 6px;
  object-fit: cover;
}

.post-item.post-img-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-item .main-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    width: 550px;
    height: 309.375px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.audio-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-container audio {
  width: 90%;
  border: none;
  border-radius: 8px;
}

.post-item-galery {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 20px;
  height: 10px;
  background-color: #0056a4;
  border: none;
  border-radius: 10px;
}

.post-item-galery img {
  max-width: 20%;
}

.post-item .author {
  margin-top: 20px;
}

.nav-post {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-post a {
    width: 100%;
}

.nav-post .previous-post-link {
    text-align: start;
}

.nav-post .next-post-link {
    text-align: end;
}

@media (max-width: 900px) {
  .post-row.three-columns > .post-item {
    flex: 1 1 calc(50% - 15px);
  }
  .post-row.three-columns {
    flex-direction: column;
  }

  .post-row.three-columns .post-item,
  .post-row.three-columns .post-item.double {
    flex: none;
    width: 100%;
  }

  .post-item-galery img {
    max-width: 16%;
  }
}

@media (max-width: 600px) {
    .main {
        padding: 20px 20px;
    }

    .post-row.two-columns > .post-item,
    .post-row.three-columns > .post-item {
        flex: 1 1 100%;
    }
    
    .video-container iframe {
        width: 320px;
        height: 180px;
    }
    
    .post-item-galery {
      gap: 0;
        flex-direction: column;
    }

    .post-item-galery img {
      max-width: 80%;
    }

    .separator {
      width: 10px;
      height: 20px;
    }
}
